<md-input-container>
  <label>Username</label>
  <input ng-model="vm.username"
         ng-model-options="{ debounce: 1000 }"
         ng-change="vm.usernameChanged()"
  >
</md-input-container>

<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Github Profile</span>
      <span class="md-subhead">User: {{vm.profile.login}}</span>
      <span class="md-subhead">Email: {{vm.profile.email}}</span>
      <span class="md-subhead">Followers: {{vm.profile.followers}}</span>
      <span class="md-subhead">Following: {{vm.profile.following}}</span>
    </md-card-title-text>
    <md-card-title-media>
      <div class="md-media-lg">
        <img src="{{vm.profile.avatar_url}}" alt="">
      </div>
    </md-card-title-media>
  </md-card-title>

  <md-list class="md-dense" flex>
    <md-subheader class="md-no-sticky">Public repos</md-subheader>
    <md-list-item ng-repeat="repo in vm.publicRepos">
      <div class="md-list-item-text" layout="column">
        <p>{{ repo.name }}</p>
      </div>
    </md-list-item>
</md-card>
